<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Chompa de Alpaca</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="chompa.css" />
    </head>
    <body>
        <div>
            <form method="post" action="session.php">
                <h1>Iniciar Sesión Administrador</h1>
                <p><label>Usuario:</label> <input type="text" name="usuario"/></p>
                <p><label>Contraseña:</label> <input type="password" name="contra" maxlength="5" size="6"/></p>
                <p><input type="submit" value="Iniciar" name="iniciar"/></p>
            </form>
        </div>
    </body>
</html>
