<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Principal Admin - Chompa Alpaca</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" href="chompa.css" />
    </head>
    <body>
        <div>
            <form action="get">
                <p><a href="view.php?op=productos">Listar Productos</a></p>
                <p><a href="view.php?op=pedidos">Listar Pedidos</a></p>
            </form>
        </div>
    </body>
</html>
